<html>
<header>
<title>udev script index</title>
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
.name-td {
    width: 15%;
}
.desc-td {
    width: 55%;
}
.author-td {
    width: 12%;
}
.category-td {
    width: 18%;
}
#new_desc,#new_author,#new_category {
    width: 90%;
}
#new_name,#new_url {
    width: 45%;
}
.output {
    margin-left: 8px;
    margin-right: 8px;
}
.output h3 {
    cursor: pointer;
}
th select {
    font-weight: lighter;
    display: block;
    float: right;
}
</style>
</header>
<body>
<div id="app">
    <table class="table">
        <tr>
            <th class="name-td">名称</th>
            <th class="desc-td">简介</th>
            <th class="author-td">作者:
                <select v-model="author_filter">
                    <option></option>
                    <option v-for="author in authors">{{author}}</option>
                </select>
            </th>
            <th class="category-td">分类:
                <select v-model="category_filter">
                    <option></option>
                    <option v-for="category in categorys">{{category}}</option>
                </select>
            </th>
        </tr>
        <tbody>
            <tr
            is="asset-view"
            :asset="asset"
            v-for="asset in assets"
            v-if="(!category_filter || asset.category == category_filter) && (!author_filter || asset.author == author_filter)"
            ></tr>

            <tr
            is="asset-view"
            :asset="asset"
            :is_new_asset="1"
            v-for="asset in new_assets"
            v-if="(!category_filter || asset.category == category_filter) && (!author_filter || asset.author == author_filter)"
            ></tr>


            <tr>
                <td colspan="4">
                    <form class="form-inline" @keyup.enter="addnew">
                        <new-asset-form :new_asset="new_asset"></new-asset-form>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="output">
        <hr>
        <code-output id="newjson" :title="'JSON'" :content="new_assets">
            <button @click="sendissue">Send Issue</button>
        </code-output>
        
        <hr>
        <code-output :title="'BBCode'" :content="bbcode"></code-output>
    </div>
</div>
<script>document.write('<div style="height:' + (window.innerHeight * .9) + 'px;">&nbsp;</div>');</script>
</body>

<script type="text/x-template" id="asset-view-template">
    <tr :class="{success: is_new_asset}">
        <td class="name-td"><a target="_blank" :href="asset.url">{{asset.name}}</a></td>
        <td class="desc-td">{{asset.desc}}</td>
        <td class="author-td"><a target="_blank" :href="'https://bgm.tv/user/' + asset.author">{{asset.author}}</a></td>
        <td class="category-td">{{asset.category}}</td>
    </tr>
</script>

<script type="text/x-template" id="new-asset-form-template">
    <div><div class="form-group name-td">
            <input v-model.trim="new_asset.name" class="form-control" id="new_name" placeholder="名称">
            <input v-model.trim="new_asset.url" class="form-control" id="new_url" type="url" placeholder="URL">
        </div><div class="form-group desc-td">
            <input v-model.trim="new_asset.desc" class="form-control" id="new_desc" placeholder="一句话介绍">
        </div><div class="form-group author-td">
            <input v-model.trim="new_asset.author" class="form-control" id="new_author" placeholder="作者 ID">
        </div><div class="form-group category-td">
            <input v-model.trim="new_asset.category" class="form-control" id="new_category" placeholder="分类">
        </div>
    </div>
</script>

<script src="vue.min.js"></script>
<script>
'use strict';

Vue.component('asset-view', {
    template: '#asset-view-template',
    props: ['asset', 'is_new_asset'],
});

Vue.component('new-asset-form', {
    template: '#new-asset-form-template',
    props: ['new_asset']
});

Vue.component('code-output', {
    template: '<div><h3 @click="toggle">{{title}}</h3><pre v-if="display">{{content}}</pre><slot v-if="display"></slot></div>',
    props: ['title', 'content', ],
    data: function() {
        return {display: false};
    },
    methods: {
        toggle: function() {this.display = !this.display;},
    }
})

function getUniqueArray(array) {
    var set = new Set();
    for (var i of array) {
        set.add(i);
    }
    var re = Array.from(set);
    re.sort();
    return re;
}
function getBbcode(asset) {
    return '[url=' + asset.url + ']' + asset.name + '[/url] ' +
            'by [url=https://bgm.tv/user/' + asset.author + ']' + asset.author + '[/url] ' +
            '[color=#ccc][size=11]' + asset.desc + '[/size][/color]';
}

var GRAND_ORDER= [
    '条目收藏，打分和标签',
    '用户，社交，讨论',
    '放送列表 & 放送资源',
    '番組 WIKI 工具',
    '目录',
];

function categoryCompare(a, b) {
    var ia = GRAND_ORDER.indexOf(a);
    var ib = GRAND_ORDER.indexOf(b);
    if (ia === -1) {
        if (ib === -1) {
            return a.localeCompare(b);
        } else {
            return 1;
        }
    } else {
        if (ib === -1) {
            return -1;
        } else {
            return ia - ib;
        }
    }
}

var app = new Vue({
    el: '#app',
    data: {
        assets: [],
        new_assets: [],
        category_filter: '',
        author_filter: '',
        new_asset: {
            name: '',
            url: '',
            desc: '',
            author: '',
            category: '',
        }
    },
    computed: {
        all_assets: function() {
            return this.assets.concat(this.new_assets);
        },
        categorys: function() {
            var cs = getUniqueArray(this.all_assets.map(
                function(i) {return i.category}
            ));
            cs.sort(categoryCompare);
            return cs;
        },
        authors: function() {
            return getUniqueArray(this.all_assets.map(
                function(i) {return i.author;}
            ));
        },
        cate_index: function() {
            var map = {};
            for (var c of this.categorys) {
                map[c] = [];
            }
            for (var asset of this.all_assets) {
                map[asset.category].push(asset);
            }
            for (var c of this.categorys) {
                map[c].sort(function(a, b) {
                    return a.author.localeCompare(b.author);
                })
            }
            return map;
        },
        bbcode: function() {
            var result = '';
            for (var c of this.categorys) {
                result += '[b]' + c + '[/b]\n';
                for (var a of this.cate_index[c]) {
                    result += getBbcode(a);
                    result += '\n';
                }
                result += '\n';
            }
            return result;
        }
    },
    methods: {
        addnew: function() {
            if (!(
                this.new_asset.name &&
                this.new_asset.url &&
                this.new_asset.desc &&
                this.new_asset.author &&
                this.new_asset.category
            )) {
                return;
            }
            this.new_assets.push(this.new_asset);
            var last_author = this.new_asset.author;
            this.new_asset = {
                name: '',
                url: '',
                desc: '',
                author: last_author,
                category: '',
            };
        },
        sendissue: function() {
            var data = '```json\n\n' + document.querySelector('#newjson pre').innerHTML + '\n\n```';
            var issue_body = encodeURI(data);
            window.open('https://github.com/protodonuts/udev-index/issues/new?body=' + issue_body);
        }
    }
});

fetch('user_scripts.json').then(function(response) {
    return response.text();
}).then(function(text) {
    app.assets = JSON.parse(text);
});

</script>
</html>